USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[InsertTask]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTask]
    @Name NVARCHAR(200),
    @Status TINYINT,
    @CreatedByUser SMALLINT,
    @StartDate DATETIME,
    @EndDate DATETIME,
    @CategoryID INT,
    @TaskType BIT,
	@Date date
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Tasks
    (
        Name,
        Status,
        Created_By_User,
        Start_Task,
        End_Task,
        Catigory_ID,
        Task_Type,
		Date
    )
    VALUES
    (
        @Name,
        @Status,
        @CreatedByUser,
        @StartDate,
        @EndDate,
        @CategoryID,
        @TaskType,
		@Date 
    );
	select SCOPE_IDENTITY() ;
END;
GO
