USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteTask]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[DeleteTask]
@ID int 
as
BEGIN
DELETE Tasks WHERE Tasks.ID = @ID ;
END
GO
