USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetTaskByID]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTaskByID]
    @TaskID INT
AS
BEGIN
    SET NOCOUNT ON;

    

    -- جلب البيانات
    SELECT ID, Name,Task_Type , status , Created_By_User , Date , Start_Task , End_Task , Catigory_ID 
    FROM Tasks
    WHERE ID = @TaskID;
END;
GO
