USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllHabitFocusSessions]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllHabitFocusSessions]
AS
BEGIN
    SELECT 
        ID, 
        Habit_ID, 
        StartTime, 
        EndTime
    FROM [dbo].[HabitFocusSessions];
END
GO
