USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[AddNewHabitLog]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewHabitLog]
    @Habit_ID int,
    @Date date,
    @Completed bit,
    @CompletedAt time,
    @Categories nvarchar(50) 
AS
BEGIN
    INSERT INTO [dbo].[HabitLogs] (
        Habit_ID, 
        [Date], 
        Completed, 
        CompletedAt, 
        Categories
    )
    VALUES (
        @Habit_ID, 
        @Date, 
        @Completed, 
        @CompletedAt, 
        @Categories
    );

    SELECT SCOPE_IDENTITY();
END
GO
