USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[AddTaskFocusSession]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTaskFocusSession]
    @TaskID int,
    @StartTime time,
    @EndTime time,
    @DurationMinutes int,
    @Rate float
AS
BEGIN
    INSERT INTO [dbo].[TaskFocusSessions] (
        TaskID, 
        StartTime, 
        EndTime, 
        DurationMinutes, 
        [Rate]
    )
    VALUES (
        @TaskID, 
        @StartTime, 
        @EndTime, 
        @DurationMinutes, 
        @Rate
    );

    SELECT SCOPE_IDENTITY();
END
GO
