USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[AddUserWithCheck]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUserWithCheck]
    @FullName nvarchar(150),
    @UserName nvarchar(50),
    @Password nvarchar(max),
    @Email nvarchar(100),
    @Permissions int,
    @IsActive bit
AS
BEGIN
 
        -- إذا لم يكن موجوداً، نتم عملية الإضافة
        INSERT INTO [dbo].[Users] (FullName, UserName, [Password], Email, Permissions, IsActive)
        VALUES (@FullName, @UserName, @Password, @Email, @Permissions, @IsActive);
        
        -- نعود بالرقم التعريفي الجديد (ID)
        SELECT SCOPE_IDENTITY();
    
END
GO
