USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
    @User_ID int,
    @FullName nvarchar(150),
    @UserName nvarchar(50),
    @Password nvarchar(max),
    @Email nvarchar(100),
    @Permissions int,
    @IsActive bit
AS
BEGIN
    UPDATE [dbo].[Users]
    SET FullName = @FullName,
        UserName = @UserName,
        [Password] = @Password,
        Email = @Email,
        Permissions = @Permissions,
        IsActive = @IsActive
    WHERE User_ID = @User_ID;
END
GO
