USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetOneCategoriesByID]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOneCategoriesByID]
@ID int
AS
BEGIN
 
    SELECT * FROM Categories Where Cate_ID = @ID ;
END;
GO
