USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCategories]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[UpdateCategories]

@ID int,
@Name nvarchar(40),
@Color nvarchar(15)
AS
BEGIN
	Update Categories SET Name =  @Name , Color =@Color WHERE Cate_ID = @ID ;
END;
GO
