USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateHabit]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHabit]
    @Habit_ID int,
    @Title nvarchar(100),
    @Description nvarchar(max),
    @Difficulty tinyint,
    @Category_ID tinyint,
    @Frequency smallmoney,
    @Created_By_User smallint,
    @isActive bit
AS
BEGIN
    UPDATE [dbo].[Habits]
    SET 
        Title = @Title,
        [Description] = @Description,
        Difficulty = @Difficulty,
        Category_ID = @Category_ID,
        Frequency = @Frequency,
        Created_By_User = @Created_By_User,
        isActive = @isActive
    WHERE Habit_ID = @Habit_ID;
END
GO
