USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateHabitLog]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHabitLog]
    @ID int,
    @Habit_ID int,
    @Date date,
    @Completed bit,
    @CompletedAt time,
    @Categories nvarchar(50)
AS
BEGIN
    UPDATE [dbo].[HabitLogs]
    SET 
        Habit_ID = @Habit_ID,
        [Date] = @Date,
        Completed = @Completed,
        CompletedAt = @CompletedAt,
        Categories = @Categories
    WHERE ID = @ID;
END
GO
