USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteHabitLog]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[DeleteHabitLog]
    @ID int
AS
BEGIN
    DELETE FROM [dbo].[HabitLogs]
    WHERE ID = @ID;
END
GO
