USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateTask]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[UpdateTask]
    @TaskID INT,
    @Name NVARCHAR(200),
    @Status TINYINT,
    @CreatedByUser SMALLINT,
    @Date DATE,
    @StartDate DATETIME,
    @EndDate DATETIME,
    @CategoryID INT,
    @TaskType BIT
AS
BEGIN
   

    UPDATE Tasks
    SET 
        Name = @Name,
        Status = @Status,
        Created_By_User = @CreatedByUser,
        Date = @Date,
        Start_Task = @StartDate,
        End_Task = @EndDate,
        Catigory_ID = @CategoryID,
        Task_Type = @TaskType
    WHERE ID = @TaskID;

  
END;
GO
