USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateTaskFocusSession]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTaskFocusSession]
    @ID int,
    @StartTime time,
    @EndTime time,
    @DurationMinutes int,
    @Rate float
AS
BEGIN
    UPDATE [dbo].[TaskFocusSessions]
    SET 
        StartTime = @StartTime,
        EndTime = @EndTime,
        DurationMinutes = @DurationMinutes,
        [Rate] = @Rate
    WHERE ID = @ID;
END
GO
