USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllTasks]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllTasks]
as
BEGIN
SELECT  ID, Name,Task_Type,status,Created_By_User,Date, Start_Task,End_Task,Catigory_ID FROM Tasks
END
GO
