USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[AddUser]
    @FullName nvarchar(150),
    @UserName nvarchar(50),
    @Password nvarchar(max),
    @Email nvarchar(100),
    @Permissions int,
    @IsActive bit
AS
BEGIN
    INSERT INTO [dbo].[Users] (FullName, UserName, [Password], Email, Permissions, IsActive)
    VALUES (@FullName, @UserName, @Password, @Email, @Permissions, @IsActive);

    SELECT SCOPE_IDENTITY();
END




GO
