USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllHabitLogs]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllHabitLogs]
AS
BEGIN
    SELECT 
        ID, 
        Habit_ID, 
        [Date], 
        Completed, 
        CompletedAt, 
        Categories
    FROM [dbo].[HabitLogs];
END
GO
