USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[InsertCategories]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertCategories]
@Name nvarchar(40),
@Color nvarchar(15)
AS
BEGIN
	insert Categories(Name,Color) values(@Name,@Color) ;
	select SCOPE_IDENTITY() ;
END;
GO
