USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteCategories]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCategories]

@ID int

AS
BEGIN
	Delete Categories  WHERE Cate_ID = @ID ;
END;
GO
