USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[CheckUserExistsByUserName]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUserExistsByUserName]
    @UserName nvarchar(50)
AS
BEGIN
    
    IF EXISTS (SELECT 1 FROM Users WHERE UserName = @UserName)
        RETURN 1;  
    ELSE
        RETURN 0; 
END
GO
