USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[AddNewHabit]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[AddNewHabit]
    @Title nvarchar(100),
    @Description nvarchar(max),
    @Difficulty tinyint,
    @Category_ID tinyint,
    @Frequency smallmoney,
    @Created_By_User smallint,
    @isActive bit
AS
BEGIN
    INSERT INTO [dbo].[Habits] (
        Title, 
        [Description], 
        Difficulty, 
        Category_ID, 
        Frequency, 
        Created_By_User, 
        isActive
    )
    VALUES (
        @Title, 
        @Description, 
        @Difficulty, 
        @Category_ID, 
        @Frequency, 
        @Created_By_User, 
        @isActive
    );

    -- إرجاع رقم المعرف الجديد للعادة
    SELECT SCOPE_IDENTITY();
END
GO
