USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[AddNewHabitFocusSession]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewHabitFocusSession]
    @Habit_ID int,
    @StartTime time,
    @EndTime time
AS
BEGIN
    INSERT INTO [dbo].[HabitFocusSessions] (
        Habit_ID, 
        StartTime, 
        EndTime
    )
    VALUES (
        @Habit_ID, 
        @StartTime, 
        @EndTime
    );

    SELECT SCOPE_IDENTITY();
END
GO
