USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteHabitFocusSession]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteHabitFocusSession]
    @ID int
AS
BEGIN
    DELETE FROM [dbo].[HabitFocusSessions]
    WHERE ID = @ID;
END
GO
