USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllTaskFocusSessions]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllTaskFocusSessions]
AS
BEGIN
    SELECT 
        ID, 
        TaskID, 
        StartTime, 
        EndTime, 
        DurationMinutes, 
        [Rate]
    FROM [dbo].[TaskFocusSessions];
END
GO
