USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetHabitFocusSessionByID]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHabitFocusSessionByID]
    @ID int
AS
BEGIN
    SELECT 
        ID, 
        Habit_ID, 
        StartTime, 
        EndTime
    FROM [dbo].[HabitFocusSessions]
    WHERE ID = @ID;
END
GO
