USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetHabitLogByID]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHabitLogByID]
    @ID int
AS
BEGIN
    SELECT 
        ID, 
        Habit_ID, 
        [Date], 
        Completed, 
        CompletedAt, 
        Categories
    FROM [dbo].[HabitLogs]
    WHERE ID = @ID;
END
GO
