USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    @User_ID int
AS
BEGIN
    DELETE FROM [dbo].[Users]
    WHERE User_ID = @User_ID;
END
GO
