USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[UpdateHabitFocusSession]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHabitFocusSession]
    @ID int,
    
    @StartTime time,
    @EndTime time
AS
BEGIN
    UPDATE [dbo].[HabitFocusSessions]
    SET 
        
        StartTime = @StartTime,
        EndTime = @EndTime
    WHERE ID = @ID;
END
GO
