USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCategories]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCategories]  
AS
BEGIN
 
    SELECT * FROM Categories ;
END;
GO
