USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetUserByID]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByID]
    @User_ID int
AS
BEGIN
    SELECT 
        User_ID, 
        FullName, 
        UserName, 
        [Password], 
        Email, 
        Permissions, 
        IsActive
    FROM [dbo].[Users]
    WHERE User_ID = @User_ID;
END
GO
