USE [MasarDB]
GO
/****** Object:  Table [dbo].[TaskFocusSessions]    Script Date: 3/25/2026 04:09:28 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskFocusSessions](
	[ID] [int] NOT NULL,
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [time](0) NULL,
	[EndTime] [time](7) NULL,
	[DurationMinutes] [int] NULL,
	[Rate] [float] NULL,
 CONSTRAINT [PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaskFocusSessions]  WITH CHECK ADD  CONSTRAINT [PK_Task_Fo_Sess] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([ID])
GO
ALTER TABLE [dbo].[TaskFocusSessions] CHECK CONSTRAINT [PK_Task_Fo_Sess]
GO
