USE [MasarDB]
GO
/****** Object:  Table [dbo].[HabitLogs]    Script Date: 3/25/2026 04:09:28 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabitLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Habit_ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Completed] [bit] NOT NULL,
	[CompletedAt] [time](0) NULL,
	[Categories] [nvarchar](30) NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HabitLogs]  WITH CHECK ADD  CONSTRAINT [FK_HabitID] FOREIGN KEY([Habit_ID])
REFERENCES [dbo].[Habits] ([Habit_ID])
GO
ALTER TABLE [dbo].[HabitLogs] CHECK CONSTRAINT [FK_HabitID]
GO
