USE [MasarDB]
GO
/****** Object:  Table [dbo].[Habits]    Script Date: 3/25/2026 04:09:28 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habits](
	[Habit_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[Difficulty] [tinyint] NOT NULL,
	[Category_ID] [tinyint] NOT NULL,
	[Frequency] [smallint] NULL,
	[Created_By_User] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Habits] PRIMARY KEY CLUSTERED 
(
	[Habit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Habits]  WITH CHECK ADD  CONSTRAINT [FK_Habits_Users] FOREIGN KEY([Created_By_User])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Habits] CHECK CONSTRAINT [FK_Habits_Users]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 - notActive 1 - Active' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Habits', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
