USE [MasarDB]
GO
/****** Object:  Table [dbo].[HabitFocusSessions]    Script Date: 3/25/2026 04:09:28 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabitFocusSessions](
	[ID] [int] NOT NULL,
	[Habit_ID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [time](0) NULL,
	[EndTime] [time](0) NULL,
 CONSTRAINT [PK_HabitFo_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HabitFocusSessions]  WITH CHECK ADD  CONSTRAINT [FK_HabitFo_HabitId] FOREIGN KEY([Habit_ID])
REFERENCES [dbo].[Habits] ([Habit_ID])
GO
ALTER TABLE [dbo].[HabitFocusSessions] CHECK CONSTRAINT [FK_HabitFo_HabitId]
GO
