USE [MasarDB]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 3/25/2026 04:09:28 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Task_Type] [bit] NOT NULL,
	[status] [tinyint] NOT NULL,
	[Created_By_User] [int] NOT NULL,
	[Date] [date] NULL,
	[Start_Task] [time](0) NULL,
	[End_Task] [time](0) NULL,
	[Catigory_ID] [tinyint] NULL,
 CONSTRAINT [PK__Tasks__3214EC272B9C46FD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Name] FOREIGN KEY([Catigory_ID])
REFERENCES [dbo].[Categories] ([Cate_ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Name]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([Created_By_User])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Flexible 2-
Scheduled' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tasks', @level2type=N'COLUMN',@level2name=N'Task_Type'
GO
