USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteHabit]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteHabit]
    @Habit_ID int
AS
BEGIN
    DELETE FROM [dbo].[Habits]
    WHERE Habit_ID = @Habit_ID;
END
GO
