USE [MasarDB]
GO
/****** Object:  StoredProcedure [dbo].[GetHabitByID]    Script Date: 3/25/2026 04:10:02 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE  [dbo].[GetHabitByID]
    @Habit_ID int
AS
BEGIN
    SELECT 
        Habit_ID, 
        Title, 
        [Description], 
        Difficulty, 
        Category_ID, 
        Frequency, 
        Created_By_User, 
        isActive
    FROM [dbo].[Habits]
    WHERE Habit_ID = @Habit_ID;
END
GO
